.Dropdown {
  width: 100%;
  margin: 0 auto;
  
  .dropdown_btn {
    cursor: pointer;
    .icon{
        width: 1.5rem;
    }
  }
  .dropdown_content {
    position: absolute;
    bottom:80%;
    background: #fff;
    .dropdown_item {
      cursor: pointer;
      transition: .3s all;
      padding: 0.5rem;
      &:hover {
        background: rgb(120, 120, 115);
      }
    }
  }
}
