.Login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  .Container {
    max-width: 25rem;
    width: calc(100% - 20%);
    min-height: 23rem;
    background: #fff;
    border: 1px solid #e3d1b1;
    border-radius: 15px;
    padding: 1rem;
  }
  Input {
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
  }
  .Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    Button{
      margin-top: 5%;
      width: 70%;
      margin-bottom: 1rem;
    }
    p{
      border-top: .1rem solid rgba(0, 0, 0, 0.418);
      padding: 1.5rem 5rem;
      text-align: center;
      a{
        color: #000;
      }
    }
  }
}
